@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte1);
    min-height: 100vh;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 7vw;
}
header p {
    padding-bottom: 50px;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section.imagem {
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem p {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 10px;
}

section#img1 {
    background-image: url(imagens/background001.jpg);
}
section#img2 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}